bin/Debug/netcoreapp2.0/DotNetConf2018.dll
bin/Debug/netcoreapp2.0/DotNetConf2018.pdb
bin/Debug/netcoreapp2.0/DotNetConf2018.deps.json
bin/Debug/netcoreapp2.0/DotNetConf2018.runtimeconfig.json
bin/Debug/netcoreapp2.0/DotNetConf2018.runtimeconfig.dev.json
obj/DotNetConf2018.csproj.nuget.cache
obj/DotNetConf2018.csproj.nuget.g.props
obj/DotNetConf2018.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/DotNetConf2018.dll
obj/Debug/netcoreapp2.0/DotNetConf2018.pdb
obj/Debug/netcoreapp2.0/DotNetConf2018.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/DotNetConf2018.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/DotNetConf2018.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/DotNetConf2018.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/DotNetConf2018.csprojAssemblyReference.cache
